<mat-card class="card mat-elevation-z4">
    <div class="card-header">
        <p>
            Usuários
        </p>    
    </div>
    <div class="card-body">
        <ng-container *ngIf="users && users.length > 0; else emptyList">
            <div class="list">
                <ul>
                    <li *ngFor="let _user of users" [className]="_user.vote?.length > 0 ? 'voted' : ''">
                        <span class="username">
                            {{_user.name}}
                            
                            <ng-container *ngIf="_user.admin">
                                <span class="admin"></span>
                            </ng-container>
                        </span>
                        <ng-container *ngIf="user.id > 0 && user.admin && user.id != _user.id">
                            <i class="material-icons red-light" (click)="removeUser(_user)">
                                delete
                            </i>
                        </ng-container>
                    </li>
                </ul>
            </div>
        </ng-container>
        <ng-template #emptyList>
            <div class="empty-list">
                <i class="material-icons">
                    warning
                </i>
                Nenhum usuário
            </div>
        </ng-template>
        <div class="add-user">
            <ng-container *ngIf="user.id > 0">
                <ng-container *ngIf="!hasUser(); else exit">
                    <button mat-raised-button color="primary" (click)="insertUser()">
                        Participar
                    </button>
                </ng-container>
                <ng-template #exit>
                    <button mat-raised-button color="danger" (click)="removeUser(user)">
                        Sair
                    </button>
                </ng-template>
            </ng-container>
        </div>
    </div>
</mat-card>