<mat-card class="card mat-elevation-z4">
    <div class="card-header">
        <p>
            Usuários
        </p>    
    </div>
    <div class="card-body">
        <ng-container *ngIf="users && users.length > 0; else emptyList">
            <div class="list">
                <ul>
                    <li *ngFor="let _user of users" [className]="_user.vote?.length > 0 ? 'voted' : ''">
                        <span class="username">
                            {{_user.name}}
                            
                            <ng-container *ngIf="_user.admin">
                                <span class="admin"></span>
                            </ng-container>
                        </span>
                        <ng-container *ngIf="user.id > 0 && user.admin && user.id != _user.id">
                            <i class="material-icons red-light" (click)="removeUser(_user)">
                                delete
                            </i>
                        </ng-container>
                    </li>
                </ul>
            </div>
        </ng-container>
        <ng-template #emptyList>
            <div class="empty-list">
                <i class="material-icons">
                    warning
                </i>
                Nenhum usuário
            </div>
        </ng-template>
        <div class="add-user">
            <ng-container *ngIf="user.id > 0">
                <ng-container *ngIf="!hasUser(); else exit">
                    <button mat-raised-button color="primary" (click)="insertUser()">
                        Participar
                    </button>
                </ng-container>
                <ng-template #exit>
                    <button mat-raised-button color="danger" (click)="removeUser(user)">
                        Sair
                    </button>
                </ng-template>
            </ng-container>
        </div>
    </div>
</mat-card>

<mat-card class="card mat-elevation-z4">
    <div class="card-header">
        <p>
            Ação
        </p>    
    </div>
    <div class="card-body">
        <ng-container *ngIf="!action.value || action.value == ''; else flipList">
            <ng-container *ngIf="user.id > 0 && user.admin; else disabledAction">
                <div class="action-button">
                    <button mat-raised-button color="primary" (click)="setAction('flip')">
                        FLIP
                    </button>
                </div>
            </ng-container>
            <ng-template #disabledAction>
                <div class="action-button">
                    <button mat-raised-button color="primary" disabled>
                        VOTOS
                    </button>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #flipList>
            <div class="votes-list">
                <div class="votes">
                    <ng-container *ngIf="votes && votes.length > 0; else emptyVotes">
                        <ul>
                            <ng-container *ngFor="let item of votes;">
                                <ng-container *ngIf="user.id > 0 && user.admin; else disabledVotes">
                                    <li class="select-vote" (click)="selectVote(item.vote)">
                                        <span class="label">
                                            {{item.name}}
                                        </span>
                                        <progress id="file" value="{{item.count}}" max="{{votesCount}}">
                                            50% 
                                        </progress>
                                        <span class="result">
                                            {{ ((item.count / votesCount) * 100) | number : '1.1' }}% ({{item.count}})
                                        </span>
                                    </li>
                                </ng-container>
                                <ng-template #disabledVotes>
                                    <li class="select-vote" disabled>
                                        <span class="label">
                                            {{item.name}}
                                        </span>
                                        <progress id="file" value="{{item.count}}" max="{{votesCount}}">
                                            50% 
                                        </progress>
                                        <span class="result">
                                            {{ ((item.count / votesCount) * 100) | number : '1.1' }}% ({{item.count}})
                                        </span>
                                    </li>
                                </ng-template>
                            </ng-container>
                        </ul>
                    </ng-container>
                    <ng-template #emptyVotes>
                        <div>
                            <i class="material-icons">
                                filter_list
                            </i>
                        </div>
                    </ng-template>
                </div>
                <ng-container *ngIf="user.id > 0 && user.admin">
                    <div class="action">
                        <span>
                            Skip
                        </span>
                        <span (click)="setAction('')">
                            Invert Flip
                        </span>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </div>
</mat-card>