<mat-card class="card mat-elevation-z4">
    <div class="card-header">
        <p>
            Usuários
        </p>    
    </div>
    <div class="card-body">
        <ng-container *ngIf="users && users.length > 0; else emptyList">
            
        </ng-container>
        <ng-template #emptyList>
            <div class="empty-list">
                <i class="material-icons">
                    warning
                </i>
                Nenhum usuário
            </div>
        </ng-template>
    </div>
</mat-card>