.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 10rem;
    padding-right: 10rem;

    div.title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        a {
            text-decoration: none;
            
            span.text-blue {
                font-weight: normal;
                font-style: italic;
                color: rgb(17, 139, 238);
            }
        }

    }

    div.user {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            button {
                min-width: 100px;
            }

            .username {
                font-size: 16px;
                text-transform: capitalize;
                margin-right: 2rem;
            }

            .username::before {
                content: "👤";
                font-size: 14px;
                padding-right: 0.3rem;
            }

            .mat-form-field {
                font-size: 14px;
                min-width: 300px;

                ::ng-deep {
                    .mat-form-field-wrapper {
                        margin-bottom: -1.25em;
                    } 

                    .mat-form-field-flex > .mat-form-field-infix { 
                        padding: 0.4em 0px !important;
                    }

                    .mat-form-field-label-wrapper { 
                        top: -1.5em; 
                    }

                    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
                        transform: translateY(-1.1em) scale(.75);
                        width: 133.33333%;
                    }
                } 
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }
}