.header {
    background-color: #393939;
    color: #fff;
    
    span {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #393939;
    }
}