<mat-toolbar class="header mat-elevation-z2">
    <div class="title text-primary">
        <a href="/home">
            You<span class="text-blue">Plan</span>
        </a>
    </div>
    <div class="user">
        <ng-container *ngIf="user.id && user.id != null; else loginForm">
            <ng-container *ngIf="!isLoadingUser; else loadingUser">
                <div>
                    <span class="username icon-{{user?.icon}}">
                        {{user.name}}
                    </span>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
                </div>
            </ng-container>
            <ng-template #loadingUser>
                <div>
                    <span class="username">
                        Carregando...
                    </span>
                </div>
                <div>
                    <button mat-raised-button disabled>Logout</button>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #loginForm>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Seu nome..." name="name" [(ngModel)]="user.name">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </ng-template>
    </div>
</mat-toolbar>