<div class="content">
    <div class="container">
        <div id="switch-theme">
            <app-switch-theme></app-switch-theme>
        </div>
        <section id="create-planning">
            <app-planning-create [planning]="planning" (saveEvent)="receiveSaveEvent()"></app-planning-create>
        </section>
        <section id="plannings">
            <app-planning-list [events]="isSaved.asObservable()" (editEvent)="receiveEditEvent($event)"></app-planning-list>
        </section>
    </div>
</div>