div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;


    div.container {
        width: 1080px;
        display: flex;
        flex-direction: column;

        & > div {
            align-self: end;
            margin-right: 2rem;
        }

        section {
            margin: 2rem;
        }
    }
}