::ng-deep {
    .dialog-content {
        margin: 2rem 0 3rem 0;
        min-width: 300px;

        div.info {
            ul {
                list-style: none;
                padding-left: 0;
    
                li {
                    margin: 0.5rem;
        
                    span {
                        display: inline-block;
                        width: 2.5rem;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }
        }

        div.estories {
            min-width: 600px;

            table {
                height: 300px;
                width: 100%;
                color: #333;
                overflow-y: auto;
                padding-left: 15px;
                padding-right: 15px;

                thead {
                    th {
                        padding: 0 1rem;
                    }

                    th:first-child {
                        text-align: start;
                    }

                    th:last-child {
                        text-align: center;
                    }
                }

                tbody {
                    tr:not(:last-child) {
                        td:first-child {
                            border-top: 1px solid #cecece;
                            border-left: 1px solid #cecece;
                            border-right: 1px solid #cecece;
                        }

                        td:last-child {
                            border-top: 1px solid #cecece;
                            border-right: 1px solid #cecece;
                        }
                    }

                    tr:last-child {
                        td:first-child {
                            border-top: 1px solid #cecece;
                            border-bottom: 1px solid #cecece;
                            border-left: 1px solid #cecece;
                            border-right: 1px solid #cecece;
                        }

                        td:last-child {
                            border-top: 1px solid #cecece;
                            border-bottom: 1px solid #cecece;
                            border-right: 1px solid #cecece;
                        }
                    }

                    td {
                        padding: 8px 1rem;
                        text-align: start;

                        p.desc {
                            font-size: 0.8rem;
                            color: #666;
                            padding-right: 10px;
                            margin-bottom: 0;
                        }
                    }

                    td:last-child {
                        text-align: center;

                        span {
                            min-width: 2rem;
                            display: inline-block;                            

                            &.vote {
                                margin-left: 0.2rem;
                                padding: .2em .6em .3em;
                                font-size: 75%;
                                font-weight: 700;
                                line-height: 1;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: baseline;
                                border-radius: .25em;
                            }

                            &.vote-badge {
                                background-color: #5bc0de;

                                &.pending {
                                    background-color: #e6d81f;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.estorie-import {
            display: flex;
            justify-content: space-around;
            min-width: 500px;

            & > input {
                display: none;
            }
        }
    }

    .dialog-actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &.justify-between {
            justify-content: space-between;
        }

        button {
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            user-select: none;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: #fff;
            text-align: center;
            margin: 0;
            min-width: 150px;
            line-height: 36px;
            padding: 0 16px;
            border-radius: 4px;
            color: rgba(0,0,0,.87);
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 14px;
            font-weight: 500;
        }

        button.primary {
            background-color: #5bc0de;
        }
    }
}

@media (max-width: 800px) {
    ::ng-deep {
        width: 100%;

        .dialog-content {
            overflow-x: hidden;

            div.estories {
                min-width: 100vw;
                width: 100vw;
                overflow-x: hidden;
            }
        }
    }
}