<h1 mat-dialog-title>
    Importar Estories
</h1>
<div mat-dialog-content>
    <div class="dialog-content">
        <div class="estorie-import">
            <input type="file" accept=".json" (change)="onFileChanged($event)" #fileInput>
    
            <button mat-raised-button color="primary" (click)="fileInput.click()">
                Selecione o Arquivo (.json)
            </button>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="dialog-actions justify-between">
        <button mat-raised-button color="primary" (click)="import()">Importar</button>
        <button mat-raised-button (click)="close()">Fechar</button>
    </div>
</div>
