<h1 mat-dialog-title>
    Resumo da Planning
</h1>
<div mat-dialog-content>
    <div class="dialog-content">
        <div class="estories">
            <table cellspacing="0" *ngIf="items && items.length > 0">
                <thead>
                    <tr>
                        <th>Estorie</th>
                        <th>Voto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items;">
                        <td>
                            <span class="name">
                                {{item.name}}
                            </span>
                            <p class="desc">
                                {{item.description}}
                            </p>
                        </td>
                        <td>
                            <ng-container *ngIf="!item.score || item.score == ''; else vote">
                                <span class="vote vote-badge pending">
                                    {{getScore(item.score)}}
                                </span>
                            </ng-container>
                            <ng-template #vote>
                                <ng-container *ngIf="item.score != 'coffee'; else coffeeVote">
                                    <span class="vote vote-badge">
                                        {{getScore(item.score)}}
                                    </span>
                                </ng-container>
                                <ng-template #coffeeVote>
                                    <span class="vote">
                                        {{getScore(item.score)}}
                                    </span>
                                </ng-template>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="dialog-actions justify-between">
        <button mat-raised-button color="primary" (click)="export()">Exportar (CSV)</button>
        <button mat-raised-button (click)="close()">Fechar</button>
    </div>
</div>
