<mat-card class="card card-vote mat-elevation-z3">
    <div class="card-header">
        <p>
            Clique para votar
        </p>    
    </div>
    <div class="card-body votes">
        <div class="row">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '0'" data-point="0" value="0" (click)="setVote('0')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '1'" data-point="1" value="1" (click)="setVote('1')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '2'" data-point="2" value="2" (click)="setVote('2')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '3'" data-point="3" value="3" (click)="setVote('3')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '5'" data-point="5" value="5" (click)="setVote('5')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '8'" data-point="8" value="8" (click)="setVote('8')">
        </div>
        <div class="row">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '13'" data-point="13" value="13" (click)="setVote('13')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '21'" data-point="21" value="21" (click)="setVote('21')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '40'" data-point="40" value="40" (click)="setVote('40')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '100'" data-point="100" value="100" (click)="setVote('100')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == '?'" data-point="?" value="?" (click)="setVote('?')">
            <input type="button" class="btn btn-default btn-lg" [class.active]="vote == 'coffee'" data-point="coffee" value="☕" (click)="setVote('coffee')">
        </div>
    </div>
</mat-card>

<mat-card class="card mat-elevation-z4">
    <div class="card-header">
        <p>
            Estories
        </p>    
    </div>
    <div class="card-body">
        <ng-container *ngIf="items && items.length > 0; else emptyList">
            <div class="estories">
                <mat-tab-group>
                    <mat-tab label="Pendentes"> 
                        <ul *ngIf="items && items.length > 0">
                            <ng-container *ngFor="let item of items;">
                                <li class="estorie-item" *ngIf="item.score == ''">
                                    <span class="name">
                                        {{item.name}}
                                    </span>
                                    <p class="desc">
                                        {{item.description}}
                                    </p>
                                </li>
                            </ng-container>
                        </ul>
                    </mat-tab>
                    <mat-tab label="Concluídas">
                        <ul *ngIf="items && items.length > 0">
                            <ng-container *ngFor="let item of items;">
                                <li class="estorie-item" *ngIf="item.score != ''">
                                    <span class="name">
                                        {{item.name}}
                                    </span>
                                    <p class="desc">
                                        {{item.description}}
                                    </p>
                                </li>
                            </ng-container>
                        </ul>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </ng-container>
        <ng-template #emptyList>
            <div class="empty-list">
                <p>
                    <i class="material-icons">
                        warning
                    </i>
                    Nenhum item adicionado
                </p>
            </div>
        </ng-template>
    </div>
    <div class="card-footer">
        <p>
            Adicionar/Editar
        </p>    
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome" name="name" [(ngModel)]="estorie.name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descrição" name="description" [(ngModel)]="estorie.description">
            </mat-form-field>
        </form>
        <div>
            <button mat-raised-button color="primary" (click)="saveItem()">
                Salvar                            
            </button>
            <button mat-raised-button color="danger" (click)="resetItem()">
                Cancelar
            </button>
        </div>
    </div>
</mat-card>