div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    flex-direction: column;

    div.container {
        display: grid;
        width: 1200px;
        grid-template-columns: auto 340px;
        grid-template-rows: 1fr;
        grid-template-areas: 
            'actions actions'
            'planning users'
        ;
    
        section {
            &#planning {
                padding: 1rem 1rem 2rem 0rem;
                grid-area: planning;
            }
        
            &#users {
                padding: 1rem 0rem 2rem 1rem;
                grid-area: users;
            }

            &#actions {
                grid-area: actions;
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;
                
                button:hover {
                    cursor: pointer;
                }

                #switch-theme {
                    margin-left: 2rem;
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    div.content {
        padding: 1rem 1rem;
    
        div.container {
            width: 100%;
            grid-template-columns: auto;
            grid-template-areas: 
                'actions'
                'users'
                'planning'
            ;

            section {
                &#planning {
                    padding: 1rem;
                }
            
                &#users {
                    padding: 1rem;
                }
    
                &#actions #switch-theme {
                    margin-left: 1rem;
                }
            }
        }
    }
}