<div class="content">
    <div class="container">
        <section id="actions">
            <ng-container *ngIf="planningUser.id > 0 && planningUser.admin">
                <button mat-raised-button (click)="toggleUiMode()">
                    <ng-container *ngIf="uiMode == 'normal'; else simplified">
                        Simplificar
                    </ng-container>
                    <ng-template #simplified>
                        Normal
                    </ng-template>
                </button>
            </ng-container>
            <button mat-raised-button [class.dark-theme]="darkMode" (click)="toggleDarkMode()">
                <ng-container *ngIf="!darkMode; else lightMode">
                    Dark Mode
                </ng-container>
                <ng-template #lightMode>
                    Light Mode
                </ng-template>
            </button>
        </section>
        <section id="planning">
            <app-planning-item-list 
                [planningUser]="planningUser" 
                [uiMode]="uiMode"
                [planningConcluded]="planning?.concluded" 
                [concludedEvent]="concludedEvent.asObservable()"
                (planningConcludedEvent)="receivePlanningConcludedEvent($event)">
            </app-planning-item-list>
        </section>
        <section id="users">
            <app-user-list 
                [planning]="planning" 
                [planningUser]="planningUser" 
                [action]="action" 
                [planningConcluded]="planning?.concluded" 
                (planningUserEvent)="receivePlanningUserEvent($event)" 
                (planningConcludedEvent)="receivePlanningConcludedEvent($event)">
            </app-user-list>
        </section>
    </div>
</div>