.mat-card {
    padding: 0;
    margin-bottom: 2rem;

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        div {
            display: flex;
            justify-content: space-between;

            span {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            span:last-child {
                margin-right: 0.5rem;
            }
        }

        span {
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }

    .card-body.votes {
        .row {
            display: flex;
            padding: 0.3rem;
    
            input {
                &:focus {
                    outline: 0;
                }

                &.btn {
                    flex: 1;
                    margin: 0.5rem;
                    cursor: pointer;
                    padding: 10px 16px;
                    font-size: 18px;
                    line-height: 1.3333333;
                    border-radius: 6px;
                    -webkit-appearance: button;
                    border: 1px solid #ccc;
                }
    
                &.btn.active {
                    background-color: #5bc0de;
                    border-color: #46b8da;
                }
            }

        }
    }

    .card-body {
        min-height: 100px;
        display: flex;
        flex-direction: column;

        div.estories {
            ul {
                list-style-type: none;
                height: 300px;
                text-indent: 0.5rem;
                padding-left: 15px;
                padding-right: 15px;
                overflow-y: auto;

                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 5px;

                    div:first-child {
                        flex: 1;
                        
                        p.desc {
                            font-size: 0.8rem;
                            padding-right: 10px;
                            margin-bottom: 0;
                        }
                        
                        span {
                            &.vote {
                                display: inline;
                                margin-left: 0.2rem;
                                padding: .2em .6em .3em;
                                font-size: 75%;
                                font-weight: 700;
                                line-height: 1;
                                color: #fff;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: baseline;
                                border-radius: .25em;
                            }

                            &.vote-badge {
                                background-color: #5bc0de;
                            }
                        }
                    }

                    div:last-child {
                        i {
                            margin: 0 0.1rem;
                            cursor: pointer;
                        }
                    }
                }

                li:first-child::before {
                    content: "\25BA";
                    font-weight: bolder;
                    font-size: 12px;
                    margin-right: 10px;
                    line-height: 14px;
                }
                
                li:not(:first-child)::before {
                    content: "•";
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 14px;
                    margin-right: 10px;
                }
            }
        }

        div.empty-list {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                
                i {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    div.card-footer {
        padding: 1rem;
        padding: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        form {
            display: flex;
            flex-direction: column;

            form {
                .mat-form-field {
                    margin: 0 2rem;
                }
            }
        }

        div {
            display: flex;
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            button {
                width: 150px;
                font-size: 0.9rem;
                line-height: 30px;
            }
            
            button:first-child {
                margin-right: 3rem;
            }
        }

        .mat-expansion-panel {
            box-shadow: unset !important;
        }
    }
}