<h1 mat-dialog-title>
    Peso dos Votos
</h1>
<div mat-dialog-content>
    <div class="dialog-content">
        <ul>
            <li><span>0</span> => &nbsp; Muito simples - 10 minutos ou já desenvolvida</li>
            <li><span>1</span> => &nbsp; Simples - até 1 hora</li>
            <li><span>2</span> => &nbsp; Simples - 2 a 3 horas</li>
            <li><span>3</span> => &nbsp; Simples - 4 a 6 horas</li>
            <li><span>4</span> => &nbsp; Moderada - 1 a 2 dias</li>
            <li><span>8</span> => &nbsp; Moderada - 3 dias</li>
            <li><span>13</span> => &nbsp; Complexa: 4 a 5 dias</li>
            <li><span>20</span> => &nbsp; Muito Complexa: 2 semanas</li>
            <li><span>?</span> => &nbsp; Indefinido: Pode levar qualquer quantidade de tempo</li>
            <li><span>☕</span> => &nbsp; Have a break, have a coffee</li>
        </ul>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Fechar</button>
</div>
