/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.yellow {
    color: #e6d81f
}

.shady-black {
    color: #333
}

.red-light {
    color: #f04b5c;
}

.blue-light {
    color: #3ca9f1;
}

.custom-snackbar {
    margin-top: 70px !important;
    margin-bottom: 50px !important;
}

.blue-snackbar {
    background: #2196F3;
    font-weight: 500;
}

.red-snackbar {
    background: #b12401;
    font-weight: 500;
}