@import '~@angular/material/theming';

@include mat-core();

$custom-background-color: #e9eaed;

$custom-theme-primary: mat-palette($mat-light-blue);
$custom-theme-accent:mat-palette($mat-light-green);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

$background: map-get($custom-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$custom-theme: map_merge($custom-theme, (background: $background));

@include angular-material-theme($custom-theme);

$custom-theme-dark-primary: mat-palette($mat-indigo);
$custom-theme-dark-accent:mat-palette($mat-pink, A200, A100, A400);
$custom-theme-dark-warn: mat-palette($mat-red);

$custom-theme-dark: mat-dark-theme($custom-theme-dark-primary, $custom-theme-dark-accent, $custom-theme-dark-warn);

.text-primary {
    color: #333;

    div, a {
        color: #333;
    }
}

.card, .mat-card {
    border-radius: 0.8rem !important;

    .card-header {
        background-color: #f5f5f5;
        border-color: #ddd;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-right-radius: 0.8rem !important;
        border-top-left-radius: 0.8rem !important;
    }
    
    .card-footer {
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 0.8rem !important;
        border-bottom-left-radius: 0.8rem !important;

        .mat-expansion-panel {
            background-color: #f5f5f5;
            border-bottom-right-radius: 0.8rem !important;
            border-bottom-left-radius: 0.8rem !important;
        }
    }
}

.dark-theme-mode {
    @include angular-material-theme($custom-theme-dark);
    
    .text-primary {
        color: #fff;
        
        div, a {
            color: #fff;
        }
    }

    .card {
        .card-header {
            background-color: #393939;
            border-color: #242424;
            border-bottom: 1px solid #242424;
        }

        .card-footer {
            background-color: #393939;
            border-top: 1px solid #242424;
            
            .mat-expansion-panel {
                background-color: #242424;
            }

            .mat-expansion-panel:last-of-type, .mat-expansion-panel:first-of-type {
                border-top-right-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
        }
    }

    .shady-black {
        color: #fafafa
    }
}

button, .btn {
    border-radius: 0.5rem !important;
}