.mat-card {
    padding: 0;
    
    .card-header {
        background-color: #f5f5f5;
        color: #333;
        border-color: #ddd;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        p {
            margin: 0;
            padding: 0;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        color: #333;

        form {
            display: flex;
            flex-direction: column;

            form {
                .mat-form-field {
                    margin: 0 2rem;
                }
            }
        }

        div {
            display: flex;
            margin-top: 1rem;
            margin-bottom: 0.5rem;

            button {
                width: 150px;
                font-size: 0.9rem;
                line-height: 30px;
            }
            
            button:first-child {
                margin-right: 3rem;
            }
        }
    }
}